on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ''
      coverage:
        required: false
        type: number
        default: 80
      useRedis:
        required: false
        type: boolean
        default: true

jobs:
  test:
    uses: affinidi/pipeline-rust/.github/workflows/test.yaml@FTL-24205
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      useRedis: ${{ inputs.useRedis }}

  coverage:
    uses: affinidi/pipeline-rust/.github/workflows/coverage.yaml@FTL-24205
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      coverage: ${{ inputs.coverage }}
      useRedis: ${{ inputs.useRedis }}
