on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ''
      cargoDenyRustVersion:
        required: false
        type: string
        default: '1.85.0'
      auditIgnore:
        required: false
        type: string
        default: ''
      coverage:
        required: false
        type: number
        default: 80
      useRedis:
        required: false
        type: boolean
        default: true
      repo-path:
        required: false
        default: '.'
        type: string
      doNotInherit:
        required: false
        type: string
        default: ''
        description: 'Comma-separated list of jobs to exclude from inheritance (e.g., "audit,cargo-deny,wiz-scan")'

jobs:
  audit:
    if: ${{ !contains(inputs.doNotInherit, 'audit') }}
    uses: affinidi/pipeline-rust/.github/actions/audit/action.yaml@main
    with:
      auditIgnore: ${{ inputs.auditIgnore }}

  cargo-deny:
    if: ${{ !contains(inputs.doNotInherit, 'cargo-deny') }}
    uses: affinidi/pipeline-rust/.github/actions/cargo-deny/action.yaml@main
    with:
      cargoDenyRustVersion: ${{ inputs.cargoDenyRustVersion }}

  check:
    if: ${{ !contains(inputs.doNotInherit, 'check') }}
    uses: affinidi/pipeline-rust/.github/actions/cargo-check/action.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  test:
    if: ${{ !contains(inputs.doNotInherit, 'test') }}
    uses: affinidi/pipeline-rust/.github/actions/test/action.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      useRedis: ${{ inputs.useRedis }}

  fmt:
    if: ${{ !contains(inputs.doNotInherit, 'fmt') }}
    uses: affinidi/pipeline-rust/.github/actions/fmt/action.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  clippy:
    if: ${{ !contains(inputs.doNotInherit, 'clippy') }}
    uses: affinidi/pipeline-rust/.github/actions/clippy/action.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  wiz-scan:
    if: ${{ !contains(inputs.doNotInherit, 'wiz-scan') }}
    uses: affinidi/pipeline-security/.github/workflows/wizcli-dirscan.yml@main
    secrets: inherit

  rust-scan:
    if: ${{ !contains(inputs.doNotInherit, 'rust-scan') }}
    uses: affinidi/pipeline-security/.github/workflows/rust-scanner.yml@main
    with:
      repo-path: ${{ inputs.repo-path }}
    secrets: inherit

  coverage:
    if: ${{ !contains(inputs.doNotInherit, 'coverage') }}
    uses: affinidi/pipeline-rust/.github/actions/coverage/action.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      coverage: ${{ inputs.coverage }}
      useRedis: ${{ inputs.useRedis }}
