on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ''
      cargoDenyRustVersion:
        required: false
        type: string
        default: '1.85.0'
      auditIgnore:
        required: false
        type: string
        default: ''
      repo-path:
        required: false
        default: '.'
        type: string

jobs:
  audit:
    uses: affinidi/pipeline-rust/.github/workflows/audit.yaml@FTL-24205
    with:
      auditIgnore: ${{ inputs.auditIgnore }}

  cargo-deny:
    uses: affinidi/pipeline-rust/.github/workflows/cargo-deny.yaml@FTL-24205
    with:
      cargoDenyRustVersion: ${{ inputs.cargoDenyRustVersion }}

  check:
    uses: affinidi/pipeline-rust/.github/workflows/cargo-check.yaml@FTL-24205
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  fmt:
    uses: affinidi/pipeline-rust/.github/workflows/fmt.yaml@FTL-24205
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  clippy:
    uses: affinidi/pipeline-rust/.github/workflows/clippy.yaml@FTL-24205
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}

  wiz-scan:
    uses: affinidi/pipeline-security/.github/workflows/wizcli-dirscan.yml@main
    secrets: inherit

  rust-scan:
    uses: affinidi/pipeline-security/.github/workflows/rust-scanner.yml@main
    with:
      repo-path: ${{ inputs.repo-path }}
    secrets: inherit
