on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ""
      ubuntu-rust-deps:
        required: false
        type: string
        default: libdbus-1-dev libssl-dev
      cargoDenyRustVersion:
        required: false
        type: string
        default: "1.85.0"
      auditIgnore:
        required: false
        type: string
        default: ""
      coverage:
        required: false
        type: number
        default: 80
      useRedis:
        required: false
        type: boolean
        default: true
      repo-path:
        required: false
        default: "."
        type: string

jobs:
  audit:
    uses: affinidi/pipeline-rust/.github/workflows/audit.yaml@main
    with:
      auditIgnore: ${{ inputs.auditIgnore }}

  cargo-deny:
    uses: affinidi/pipeline-rust/.github/workflows/cargo-deny.yaml@main
    with:
      cargoDenyRustVersion: ${{ inputs.cargoDenyRustVersion }}

  check:
    uses: affinidi/pipeline-rust/.github/workflows/cargo-check.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}

  test:
    uses: affinidi/pipeline-rust/.github/workflows/test.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}
      useRedis: ${{ inputs.useRedis }}

  fmt:
    uses: affinidi/pipeline-rust/.github/workflows/fmt.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}

  clippy:
    uses: affinidi/pipeline-rust/.github/workflows/clippy.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}

  wiz-scan:
    uses: affinidi/pipeline-security/.github/workflows/wizcli-dirscan.yml@main
    secrets: inherit

  rust-scan:
    uses: affinidi/pipeline-security/.github/workflows/rust-scanner.yml@main
    with:
      repo-path: ${{ inputs.repo-path }}
    secrets: inherit

  coverage:
    uses: affinidi/pipeline-rust/.github/workflows/coverage.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}
      coverage: ${{ inputs.coverage }}
      useRedis: ${{ inputs.useRedis }}
