on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ""
      ubuntu-rust-deps:
        required: false
        type: string
      coverage:
        required: false
        type: number
        default: 80
      useRedis:
        required: false
        type: boolean
        default: true

jobs:
  test:
    uses: affinidi/pipeline-rust/.github/workflows/test.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}
      useRedis: ${{ inputs.useRedis }}

  coverage:
    uses: affinidi/pipeline-rust/.github/workflows/coverage.yaml@main
    with:
      toolchain: ${{ inputs.toolchain }}
      rustflags: ${{ inputs.rustflags }}
      ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}
      coverage: ${{ inputs.coverage }}
      useRedis: ${{ inputs.useRedis }}
