on:
  workflow_call:
    inputs:
      toolchain:
        required: false
        type: string
        default: stable
      rustflags:
        required: false
        type: string
        default: ""
      ubuntu-rust-deps:
        required: false
        type: string
        default: libdbus-1-dev libssl-dev

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          rustflags: ${{ inputs.rustflags }}
          override: true
          components: clippy
      - uses: affinidi/pipeline-rust/.github/actions/rust-dependencies@main
        with:
          ubuntu-rust-deps: ${{ inputs.ubuntu-rust-deps }}
      - run: cargo clippy --no-deps
